In [1]:
import pandas as pd
import numpy as np

In [2]:
!dir

 Volume in drive C is OS
 Volume Serial Number is 68D7-27A6

 Directory of C:\hello world\ba\pandas_docs (1)

10/15/2023  11:35 PM    <DIR>          .
10/15/2023  07:25 PM    <DIR>          ..
10/15/2023  07:29 PM    <DIR>          .ipynb_checkpoints
10/15/2023  10:36 AM        46,131,166 archive (1).zip
10/15/2023  10:38 AM        13,133,485 archive (2).zip
10/15/2023  10:39 AM           285,582 archive (3).zip
10/15/2023  10:34 AM            18,961 archive.zip
07/31/2023  10:59 AM           307,392 ASSIGNMENT 1.ipynb
08/07/2023  09:16 AM           344,981 ASSIGNMENT 2.ipynb
08/13/2023  12:17 PM           146,396 ASSIGNMENT3.ipynb
07/23/2023  05:31 PM               111 csv_mindex.csv
08/08/2023  09:42 AM           210,776 DATA ANALYSIS - WRK1.ipynb
07/24/2023  09:58 AM                87 data4new.csv
08/22/2023  09:21 AM    <DIR>          data_scientist_salary
08/22/2023  09:22 AM                22 data_scientist_salary.zip
07/23/2023  05:31 PM                59 demo1.csv
07/23/2023  05:31 PM            10,545 demo1.xlsx
07/23/2023  05:31 PM                43 demo2.csv
07/23/2023  05:31 PM               169 demo3.csv
07/23/2023  05:31 PM               170 demo3.txt
07/23/2023  05:31 PM               169 demo4.csv
07/23/2023  05:31 PM                78 demo5.csv
07/23/2023  05:31 PM           626,863 demo6.csv
07/23/2023  05:31 PM                36 demo7.csv
07/23/2023  05:31 PM             6,189 demo_file.xlsx
08/22/2023  09:23 AM            36,960 ds_salaries.csv
07/23/2023  05:31 PM           281,823 fdic_failed_bank_list.html
07/23/2023  05:31 PM             2,681 final.csv
08/03/2023  10:48 AM             5,107 Iris.csv.xls
07/23/2023  05:31 PM               880 mango_pickle
07/23/2023  05:31 PM            11,520 mydata.h5
07/23/2023  05:31 PM                88 out.csv
07/23/2023  05:31 PM             6,136 out2.csv
07/23/2023  05:31 PM             6,136 out3.csv
07/23/2023  05:31 PM             6,136 out5.csv
07/23/2023  05:31 PM                58 out6.csv
07/23/2023  05:31 PM             6,136 out7.csv
07/23/2023  05:31 PM            32,948 output.csv
10/15/2023  11:35 PM           131,519 pandas groupby 50 .ipynb
07/31/2023  11:02 AM           270,390 practical implementation of data analysis wrk2.ipynb
08/02/2023  10:35 AM           859,581 Stackoverflow2 (1).ipynb
08/07/2023  08:21 PM         1,290,693 stackoverflow3 (2).ipynb
07/30/2023  06:53 PM         1,908,954 stackoverflow_survey_analysis 1.ipynb
07/23/2023  05:31 PM           400,602 stock_px.csv
07/23/2023  05:31 PM       196,592,730 survey_results_public.csv
07/23/2023  05:31 PM             9,857 survey_results_schema.csv
07/23/2023  05:31 PM            32,948 survived.csv
07/23/2023  05:31 PM               942 tasty_pickle
07/23/2023  05:31 PM               118 test.tsv
07/23/2023  05:31 PM                40 test_file.csv
07/26/2023  01:43 PM    <DIR>          test_folder
07/23/2023  05:31 PM            32,948 titan.csv
08/03/2023  10:48 AM            61,194 Titanic-Dataset.xls
07/23/2023  05:31 PM               102 tseries.csv
              49 File(s)    263,212,507 bytes
               5 Dir(s)  174,826,184,704 bytes free

In [3]:
survey=pd.read_csv("survey_results_public.csv",index_col=[0])

In [4]:
survey

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [16]:
survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

#### groupby country to check students

In [10]:
data1=survey.groupby('Student')

In [14]:
data1['Country'].value_counts()

Student         Country
No              United States     17878
                India              5443
                United Kingdom     4957
                Germany            4210
                Canada             2703
                                  ...
Yes, part-time  Sierra Leone          1
                Sudan                 1
                Swaziland             1
                Turkmenistan          1
                Yemen                 1
Name: Country, Length: 471, dtype: int64

In [33]:
country_ind=survey.groupby('Country')

In [37]:
nw=country_ind.get_group('India')
nw

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Masterâ€™s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Taken an online course in programming or softw...,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelorâ€™s degree (BA, BS, B.Eng., etc.)",NaN,Participated in a hackathon,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelorâ€™s degree (BA, BS, B.Eng., etc.)",Web development or web design,Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Masterâ€™s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

### 2.to get country by details of people satisfied in job

In [48]:
job_sat=survey.groupby("JobSat")
job_sat['Country'].value_counts()

JobSat                              Country
Neither satisfied nor dissatisfied  United States           1524
                                    India                   1272
                                    Germany                  523
                                    United Kingdom           514
                                    Canada                   278
                                                            ...
Very satisfied                      Oman                       1
                                    San Marino                 1
                                    Swaziland                  1
                                    Syrian Arab Republic       1
                                    Timor-Leste                1
Name: Country, Length: 707, dtype: int64

### 3.calc the mean of a numeric column within in each grp

In [49]:
cntry_grp=survey.groupby("Country")

In [50]:
cntry_grp['ConvertedComp'].mean()

Country
Afghanistan                             101953.333333
Albania                                  21833.700000
Algeria                                  34924.047619
Andorra                                 160931.000000
Angola                                    7764.000000
                                            ...
Venezuela, Bolivarian Republic of...     14581.627907
Viet Nam                                 17233.436782
Yemen                                    16909.166667
Zambia                                   10075.375000
Zimbabwe                                 34046.666667
Name: ConvertedComp, Length: 179, dtype: float64

### 4.find total count of records in each grp

In [51]:
cntry_grp['Student'].get_group('India').value_counts()

No                5443
Yes, full-time    2944
Yes, part-time     318
Name: Student, dtype: int64

### 5.calc the max value in a different column for each grp

In [53]:
cntry_grp['ConvertedComp'].get_group('India').max()

2000000.0

### 6. group data by multiple columns and calc the sum

In [54]:
cntry_grp['ConvertedComp'].get_group('India').sum()

112202602.0

### 7.calc the average values of multiple columns for grp

In [55]:
job_sat['ConvertedComp'].mean()

JobSat
Neither satisfied nor dissatisfied    106379.734029
Slightly dissatisfied                 110360.994075
Slightly satisfied                    123414.081801
Very dissatisfied                     120739.585703
Very satisfied                        147949.915596
Name: ConvertedComp, dtype: float64

### 8.grp data by a column and calc the median of a different column within each grp

In [56]:
cntry_grp['ConvertedComp'].get_group('India').median()

10080.0

###  9.calc the sum of a numeric column and rename the resulting column

In [59]:
survey.rename(columns={'ConvertedComp':'Salary'})

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelorâ€™s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [60]:
cntry_grp['ConvertedComp'].get_group('Germany').sum()

412772508.0

### 9.filter out grps with a min count of records

In [61]:
em_grp=survey.groupby("Employment")

In [62]:
em_grp["Age"].min()

Employment
Employed full-time                                      1.0
Employed part-time                                      2.0
Independent contractor, freelancer, or self-employed    1.0
Not employed, and not looking for work                  1.0
Not employed, but looking for work                      2.0
Retired                                                 5.0
Name: Age, dtype: float64

# salary

In [6]:
ds_sal=pd.read_csv('ds_salaries.csv')
ds_sal

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [8]:
ds_sal.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

### 10.min salary for employment

In [14]:
emp_typ=ds_sal.groupby('employment_type')

In [13]:
ds_sal['employment_type'].unique()

array(['FT', 'CT', 'PT', 'FL'], dtype=object)

In [19]:
emp_typ['salary'].min()

employment_type
CT    29000
FL    12000
FT     4000
PT     8760
Name: salary, dtype: int64

### 11.salary range

In [22]:
ds_sal['experience_level'].unique()

array(['MI', 'SE', 'EN', 'EX'], dtype=object)

In [27]:
exp=ds_sal.groupby('experience_level')
exp['salary'].median()

experience_level
EN     68500.0
EX    187500.0
MI     85000.0
SE    140000.0
Name: salary, dtype: float64

### 12.grouping by employee residnc and job

In [31]:
em_res=ds_sal.groupby('employee_residence')
em_res['job_title'].value_counts()

employee_residence  job_title
AE                  Machine Learning Engineer             2
                    Lead Data Scientist                   1
AR                  Data Science Engineer                 1
AT                  Data Engineer                         1
                    Data Scientist                        1
                                                         ..
US                  Principal Data Analyst                1
                    Staff Data Scientist                  1
VN                  Applied Machine Learning Scientist    1
                    Data Analytics Engineer               1
                    Data Scientist                        1
Name: job_title, Length: 196, dtype: int64

### 13.eploy res and compny loc

In [33]:
em_res['company_location'].get_group("US").value_counts()

US    330
FR      1
CA      1
Name: company_location, dtype: int64

### 14,jobtitl and max sal of  Data Scientist

In [36]:
jobT=ds_sal.groupby("job_title")
jobT["salary"].get_group("Data Scientist").max()

30400000

### 15.median sal according to compny size

In [39]:
cmpny_sz=ds_sal.groupby("company_size")
cmpny_sz['salary_in_usd'].median()

company_size
L    100000.0
M    113188.0
S     65000.0
Name: salary_in_usd, dtype: float64

# TITANIC

In [46]:
ttnc=pd.read_csv('Titanic-Dataset.xls',index_col=[0])
ttnc

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [48]:
ttnc.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### 16.count of sex in pclass

In [49]:
pclass=ttnc.groupby('Pclass')
pclass['Sex'].value_counts()

Pclass  Sex
1       male      122
        female     94
2       male      108
        female     76
3       male      347
        female    144
Name: Sex, dtype: int64

### 17.median age in pclass

In [50]:
pclass['Age'].get_group(1).median()

37.0

### 18.survived rate in pclass

In [51]:
pclass['Survived'].value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: Survived, dtype: int64

### 19.fare for 2nd class

In [56]:
pclass['Fare'].get_group(2).value_counts()

13.0000    42
26.0000    29
10.5000    24
21.0000     6
0.0000      6
26.2500     6
73.5000     5
39.0000     4
23.0000     4
13.5000     4
11.5000     4
33.0000     3
12.3500     3
18.7500     3
41.5792     3
27.7500     3
65.0000     2
29.0000     2
24.0000     2
19.5000     2
14.5000     2
37.0042     2
27.0000     2
36.7500     2
30.0708     2
30.0000     1
12.6500     1
13.8625     1
15.0000     1
13.7917     1
32.5000     1
12.2750     1
12.0000     1
27.7208     1
14.0000     1
12.8750     1
16.0000     1
15.0500     1
15.7500     1
12.5250     1
15.0458     1
13.8583     1
Name: Fare, dtype: int64

### 20.embarked survivors

In [58]:
embark=ttnc.groupby('Embarked')
embark['Survived'].value_counts()

Embarked  Survived
C         1            93
          0            75
Q         0            47
          1            30
S         0           427
          1           217
Name: Survived, dtype: int64

### 21.survived persons age

In [62]:
survv=ttnc.groupby("Survived")
survv['Age'].get_group(1)

PassengerId
2      38.0
3      26.0
4      35.0
9      27.0
10     14.0
       ...
876    15.0
880    56.0
881    25.0
888    19.0
890    26.0
Name: Age, Length: 342, dtype: float64

# IRIS

In [63]:
iris=pd.read_csv("Iris.csv.xls")
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### 22.min SepalLengthCm of Iris-setosa